@import url(../libs/bootstrap-grid.min.css);
@import url(../fonts/inter/inter.css);
@import url(../libs/owl/owl.carousel.min.css);
@import url(../libs/owl/owl.theme.default.min.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
}

.header__common {
  background: #35B8BE;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.header__common-link {
  color: rgba(255, 255, 255, 0.8);
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}
.header .list {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header .list__item {
  color: #28224B;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.header .list__item:hover {
  color: #35B8BE;
}
.header .list .cart {
  width: 55px;
  height: 55px;
  background: url(../images/header/bg.png) center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header .list .cart__counter {
  color: #35B8BE;
  position: absolute;
  border-radius: 100px;
  background: #FFF;
  box-shadow: 7px 7px 25px 0px rgba(126, 130, 143, 0.27);
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -6px;
  right: -4px;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.header .burger {
  display: none;
  width: 25px;
  height: 25px;
  position: relative;
}
.header .burger__line {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  height: 2px;
  background: black;
  transition: 0.4s all;
}
.header .burger__line::before {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 100%;
  background: black;
  transition: 0.4s all;
}
.header .burger__line::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 100%;
  background: black;
  transition: 0.4s all;
}

.home {
  background: url(../images/home/bg.png) center/cover;
  padding-top: 100px;
  padding-bottom: 140px;
}
.home .text-box {
  padding-top: 57px;
}
.home .text-box__title {
  color: #08090A;
  max-width: 606px;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 1.8px;
  margin-bottom: 27px;
}
.home .text-box__title_blue {
  color: #35B8BE;
}
.home .text-box__text {
  max-width: 539px;
  color: #546285;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.12px;
  letter-spacing: 0.36px;
  margin-bottom: 53px;
}
.home .text-box__btn {
  display: inline-block;
  background: url(../images/\/home/\/btnbg.png) center/cover;
  color: #FFF;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 35px;
  border-radius: 5px;
  margin-bottom: 30px;
}
.home .text-box__icon {
  max-width: 110px;
  margin-bottom: 10px;
}
.home .text-box__rating {
  color: #08090A;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.home .text-box__rating_blue {
  color: #35B8BE;
}

.tutorial {
  padding-top: 134px;
}
.tutorial__title {
  color: #35B8BE;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  /* 110% */
  letter-spacing: 1.65px;
}
.tutorial .owl-carousel {
  padding: 66px 0 120px;
}
.tutorial .owl-carousel .owl-item {
  text-align: center;
}
.tutorial .owl-carousel .owl-item__icon {
  max-width: 333px;
  display: inline-block;
}
.tutorial .owl-carousel .owl-item__title {
  padding-top: 48px;
  color: #08090A;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 110% */
  letter-spacing: 0.66px;
  margin-bottom: 15px;
}
.tutorial .owl-carousel .owl-item__text {
  color: #546285;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 150% */
  letter-spacing: 0.36px;
  margin-bottom: 8px;
}
.tutorial .owl-carousel .owl-nav {
  cursor: pointer;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tutorial .owl-carousel .owl-nav .customPrevBtn {
  position: absolute;
  left: 0;
  width: 40px;
  height: 75px;
}
.tutorial .owl-carousel .owl-nav .customNextBtn {
  position: absolute;
  right: 0;
  width: 40px;
  height: 75px;
}

.about {
  padding-top: 140px;
  padding-bottom: 140px;
  background: url(../images/about/mainbg.png) center/cover;
}
.about .fresh-box {
  background: url(../images/takeaway/takeaway-bg2.png);
  padding-top: 151px;
}
.about .fresh-box__title {
  color: #35B8BE;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  /* 110% */
  letter-spacing: 1.65px;
}
.about .fresh-box__text {
  padding-top: 30px;
  max-width: 578px;
  color: #546285;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 150% */
  letter-spacing: 0.36px;
  margin-bottom: 47px;
}
.about .fresh-box__btn {
  background: url(../images/about/bgbtn.png);
  color: #FFF;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 35px;
  border-radius: 5px;
}
.about .food-img {
  margin-bottom: 140px;
}

.menu {
  padding: 154px 0 140px;
  background: url(../images/menu/menubg.png);
}
.menu__title {
  color: #010002;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  /* 110% */
  letter-spacing: 1.65px;
  margin-bottom: 26px;
}
.menu__subtitle {
  color: #546285;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 168.75% */
  letter-spacing: 0.36px;
  margin-bottom: 50px;
}
.menu__subtitle_blue {
  color: #35B8BE;
}
.menu__caption {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #222;
  margin-bottom: 40px;
}
.menu__btn {
  cursor: pointer;
  color: #222;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 16px 46px;
  border-radius: 6px;
  border: 1px solid rgba(97, 114, 131, 0.2);
}
.menu__btn_active {
  color: #FFF;
  background: #35B8BE;
  border: none;
}
.menu__content {
  display: none;
}
.menu__content_activ {
  display: block;
}
.menu .card {
  border-radius: 6px;
  border: 1px solid rgba(53, 184, 190, 0.15);
  background: #FFF;
  padding: 35px 26px;
  display: flex;
  gap: 30px;
  position: relative;
  margin-bottom: 20px;
}
.menu .card__left {
  padding: 14px 0;
}
.menu .card__title {
  color: #08090A;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 111.111% */
  letter-spacing: 0.6px;
  margin-bottom: 18px;
}
.menu .card__price {
  color: #35B8BE;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 133.333% */
  position: absolute;
  top: 37px;
  right: 26px;
}
.menu .card__description {
  max-width: 350px;
  color: #546285;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}
.menu .card__counter {
  max-width: 60px;
  height: 45px;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 168.75% */
  letter-spacing: 0.36px;
  border-radius: 6px;
  border: 1px solid #DDD;
  background: #FAFAFA;
}
.menu .card__add-btn {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 168.75% */
  letter-spacing: 0.36px;
  border-radius: 6px;
  background: #35B8BE;
  padding: 9px 11px;
  border: none;
  cursor: pointer;
}
.menu__see-btn {
  padding-top: 65px;
  display: flex;
  justify-content: center;
}
.menu__see-btn_last {
  align-items: center;
  color: #FFF;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 117.647% */
  background: url(../images/menu/menubtn.png) center/cover;
  padding: 20px 35px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.order {
  padding: 120px 0;
}
.order .checkout-box {
  padding-top: 136px;
}
.order .checkout-box__title {
  padding-top: 137px 0;
  color: #35B8BE;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  /* 110% */
  letter-spacing: 1.65px;
  margin-bottom: 29px;
}
.order .checkout-box__text {
  color: #546285;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 150% */
  letter-spacing: 0.36px;
  margin-bottom: 15px;
}
.order .checkout-box__btn {
  background: url(../images/order/order-bg.png) center/cover;
  border: none;
  cursor: pointer;
  color: #FFF;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 117.647% */
  padding: 20px 35px;
  border-radius: 5px;
}

.takeaway {
  padding: 140px 0;
  background: url(../images/takeaway/takeaway-bg.png) center/cover;
}
.takeaway .store-box {
  background: url(../images/takeaway/takeaway-bg2.png) center/cover;
  padding-top: 100px;
}
.takeaway .store-box__title {
  color: #35B8BE;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px;
  /* 100% */
  letter-spacing: 1.65px;
  margin-bottom: 29px;
}
.takeaway .store-box__text {
  color: #546285;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 150% */
  letter-spacing: 0.36px;
  margin-bottom: 47px;
}
.takeaway .store-box__btn {
  background: url(../images/takeaway/takeaway-btn.png) center/cover;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 111.111% */
  border: none;
  padding: 20px 35px;
  border-radius: 5px;
  cursor: pointer;
}

.support {
  padding: 44px;
}
.support .local-box {
  width: 666px;
  height: 640px;
  background: url(../images/support/support-bg.png) center/cover;
  padding-left: 60px;
}
.support .local-box__title {
  color: #FFF;
  font-size: 53px;
  font-style: normal;
  font-weight: 400;
  line-height: 60.5px;
  /* 114.151% */
  letter-spacing: 1.65px;
  padding-top: 212px;
  margin-bottom: 52px;
}
.support .local-box__title_blue {
  color: #1B9097;
}
.support .local-box__btn {
  background: url(../images/support/supportbg.png) center/cover;
  width: 162px;
  height: 60px;
  color: #35B8BE;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 117.647% */
  border: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  display: none;
}
.overlay .order-popup {
  width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 42px 40px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay .order-popup__form {
  display: none;
}
.overlay .order-popup__title {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 36px;
  color: #444040;
}
.overlay .order-popup__tel {
  padding: 10px 14px;
  width: 100%;
  margin-bottom: 47px;
}
.overlay .order-popup__tel:focus {
  outline: none;
}
.overlay .order-popup__btn {
  border-radius: 5px;
  background: #35B8BE;
  padding: 8px 30px;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  display: block;
  margin: auto;
  cursor: pointer;
}
.overlay .order-popup .close {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.overlay .order-popup .close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #35B8BE;
  width: 100%;
  height: 2px;
}
.overlay .order-popup .close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background: #35B8BE;
  width: 100%;
  height: 2px;
}
.overlay .order-popup .end {
  display: none;
}

.footer {
  padding-top: 100px;
  background: url(../images/footer/footerbg.png) center/cover;
}
.footer .medium-box__img {
  margin-bottom: 25px;
}
.footer .medium-box__text {
  color: #546285;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 168.75% */
  letter-spacing: 0.36px;
}
.footer .footer-links {
  margin-bottom: 99px;
  display: flex;
  gap: 125px;
}
.footer .footer-links .company-box__title {
  color: #08090A;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 153.846% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.footer .footer-links .company-box__list {
  gap: 28px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.footer .footer-links .company-box__list_link {
  cursor: pointer;
  color: #546285;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 133.333% */
}
.footer .footer-links .template-box__title {
  color: #08090A;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 153.846% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.footer .footer-links .template-box__list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 28px;
}
.footer .footer-links .template-box__list_link {
  cursor: pointer;
  color: #546285;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 133.333% */
}
.footer .footer-links .flowbase-box__title {
  color: #08090A;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 153.846% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.footer .footer-links .flowbase-box__list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 28px;
}
.footer .footer-links .flowbase-box__list_link {
  cursor: pointer;
  color: #546285;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 133.333% */
}
.footer .footer-flow {
  display: flex;
  padding: 61px 0 60px;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-flow__text {
  color: #353448;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 133.333% */
}
.footer .footer-flow__text_blue {
  color: #35B8BE;
  cursor: pointer;
}
.footer .footer-flow__img {
  display: flex;
  gap: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header .burger {
    display: block;
  }
  .header .burger.activ .burger__line {
    background: none;
  }
  .header .burger.activ .burger__line::before {
    top: 0;
    transform: rotate(45deg);
  }
  .header .burger.activ .burger__line::after {
    bottom: 0;
    transform: rotate(-45deg);
  }
  .header .list {
    display: none;
  }
  .header .list.activ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 50%;
    height: 100%;
    background: rgba(62, 62, 62, 0.8);
    right: 0;
    top: 0;
  }
  .header .list.activ .list__item {
    color: white;
  }
}
.col-6 {
  width: 50%;
}/*# sourceMappingURL=style.css.map */