.menu {
    padding: 154px 0 140px;
    background: url(../images/menu/menubg.png);

    &__title {
        color: #010002;
        text-align: center;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: 55px;
        /* 110% */
        letter-spacing: 1.65px;
        margin-bottom: 26px;
    }

    &__subtitle {
        color: #546285;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        /* 168.75% */
        letter-spacing: 0.36px;
        margin-bottom: 50px;

        &_blue {
            color: #35B8BE;

        }
    }

    &__caption {
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 30px;
        color: #222;
        margin-bottom: 40px;
    }

    &__btn {
        cursor: pointer;
        color: #222;

        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        padding: 16px 46px;
        border-radius: 6px;
        border: 1px solid rgba(97, 114, 131, 0.20);

        &_active {
            color: #FFF;
            background: #35B8BE;
            border: none;
        }
    }

    &__content {
        display: none;

        &_activ {
            display: block;
        }
    }

    .card {
        border-radius: 6px;
        border: 1px solid rgba(53, 184, 190, 0.15);
        background: #FFF;
        padding: 35px 26px;
        display: flex;
        gap: 30px;
        position: relative;
        margin-bottom: 20px;

        &__left {
            padding: 14px 0;
        }

        &__title {
            color: #08090A;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            /* 111.111% */
            letter-spacing: 0.6px;
            margin-bottom: 18px;
        }

        &__price {
            color: #35B8BE;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            /* 133.333% */
            position: absolute;
            top: 37px;
            right: 26px;
        }

        &__description {
            max-width: 350px;
            color: #546285;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.32px;
            margin-bottom: 8px;
        }

        &__counter {
            max-width: 60px;
            height: 45px;
            color: #000;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
            /* 168.75% */
            letter-spacing: 0.36px;

            border-radius: 6px;
            border: 1px solid #DDD;
            background: #FAFAFA;
        }

        &__add-btn {
            color: #FFF;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
            /* 168.75% */
            letter-spacing: 0.36px;

            border-radius: 6px;
            background: #35B8BE;
            padding: 9px 11px;
            border: none;
            cursor: pointer;
        }
    }

    &__see-btn {
        padding-top: 65px;
        display: flex;
        justify-content: center;
        &_last{
            align-items: center;
        color: #FFF;
        text-align: center;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 117.647% */
        
        background: url(../images/menu/menubtn.png) center/cover;
        padding: 20px 35px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        }
    }
}